@font-face {
    font-family: "basic-font";
    font-style:italic;
    font-weight: 400;
    src: url("./Actor-Regular.ttf") format("truetype");
  }
  
  @import url("https://fonts.googleapis.com/css?family=Abel:400");

  :root {
    --black
  : rgba(0, 0, 0, 1);
    --barvatmav-modr
  : rgba(22, 33, 60, 1);
    --astronaut
  : rgba(44, 65, 116, 1);
    --barvasvtle-modr
  : rgba(142, 202, 230, 1);
    --alto
  : rgba(217, 217, 217, 1);
    --barvaoranov
  : rgba(245, 132, 31, 1);
    --white
  : rgba(255, 255, 255, 1);
  
    --font-size-s
  : 12px;
    --font-size-m
  : 14px;
    --font-size-l
  : 15px;
    --font-size-xxl
  : 18px;
    --font-size-xxxl
  : 25px;
    --font-size-xxxxl
  : 30px;
    --font-size-xl2
  : 16px;
    --font-size-xxl2
  : 17px;
    --font-size-19px
  : 19px;
    --font-size-27px
  : 27px;
    --font-size-33px
  : 33px;
    --font-size-xxxl2
  : 20px;
  
  --font-family-basic-font
  : "basic-font";
  --font-family-basic-font-regular
  : "basic-font";
  }
  
  .tablet-funkce {
    align-items: flex-end;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1409px;
    overflow: hidden;
    padding: 31px 0;
    width: 834px;
  }

.vyrobilo-b-interactive {
    color: var(--barvasvtle-modr);
    font-weight: 400;
    line-height: normal;
    margin-right: 96.26px;
    margin-top: 55px;
    min-height: 14px;
    text-align: right;
    width: 135px;
  }
  
  .flex-row-4 {
    align-items: flex-end;
    align-self: center;
    display: flex;
    height: 273px;
    justify-content: flex-end;
    margin-right: 42.72px;
    margin-top: 80px;
    min-width: 693px;
  }
  
  .overlap-group2 {
    height: 405px;
    margin-bottom: -132px;
    position: relative;
    width: 835px;
  }
  
  .overlap-group {
    align-items: flex-start;
    background-color: var(--barvatmav-modr);
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 405px;
    padding: 57px 28px;
    position: absolute;
    top: 0;
    width: 835px;
  }
  
  .rectangle-20 {
    height: 11px;
    margin-top: 52px;
    width: 765px;
  }